<html>
<head>
	<title>VSRN</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/msg.css">
	<link rel="stylesheet" type="text/css" href="/css/pro.css">
</head>
<body>
	<div class="header container">
		<span class="head">Result</span><br><br>
	</div>
	<div class="message">
		<h1><%= (msg) %></h1>
		<a href="/"><button style="margin: 5px;border: none;text-align: center;background-color: blanchedalmond;">Go to Home</button></a>
	</div>	
	<% if (feedback){ %>
		<form action="/feedback" method="post">
			<div class="message1">
				<input type="text" name="sensor" hidden="true" disabled="true" value="<%= (sensor) %>">
				<label>Feedback</label><br><br>
				Rate the accuracy of the obtained result.<br><br>
				<input type="radio" name="trust" value="false">1
				<input type="radio" name="trust" value="false">2
				<input type="radio" name="trust" value="true">3
				<input type="radio" name="trust" value="true">4
				<input type="radio" name="trust" value="true">5
				<br>
				<button type="submit" class="bt" style="margin: 5px;border: none;text-align: center;background-color: blanchedalmond;">Submit</button>
			</div>
		</form>
	<% } %>
</body>
</html>