<html>
<head>
	<title>VSRN BLOCKCHAIN</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/pro.css">
<link rel="stylesheet" type="text/css" href="/css/msg.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body class="body">
	<div class="header container">
		<span class="head">VSRN - IoT BlockChain</span><br><br>
		Enter your query here.
	</div>
	<div class="form">
		<form action="/query">
			<div class="form-group">
			    <label for="name">NAME</label><br>
			    <input type="name" class="input1" id="email"  placeholder="Enter your name">
			</div>
			<!--div-- class="form-group">
			    <label for="password">Password</label><br>
			    <input type="password" class="input1" id="password" placeholder="Enter Password">
			</!--div-->
			<div class="dropdown">
				<label for="dropdownMenuButton">Location</label><br>
			  	<select class="btn dropdown-toggle" name="location" id="dropdownMenuButton" data-toggle="dropdown">
			  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  		<option class="dropdown-item">Select Location</option>
				    <option value="x" class="dropdown-item">X</option>
				    <option value="y" class="dropdown-item">Y</option>
			  	</div>
			  	</select>
			</div>
			<br>
			<input class="bt" type="submit">&nbsp&nbsp
			<!--input class="bt" type="reset"-->
		</form>
		<a href="/blocks"><button class="bt" style="margin: 5px;border: none;text-align: center;background-color: blanchedalmond;">Get the VSRN - IoT BlockChain</button></a>
		<a href="/block-data"><button class="bt" style="margin: 5px;border: none;text-align: center;background-color: blanchedalmond;">Last Mined Block</button></a>
	</div>
</body>
</html>